.header {
  /* margin-left: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  /* margin-bottom: 30px;
  margin-right: 30px; */
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
  background-color: white;
  border-bottom: 1px solid #cccccc;
}

.input-text {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0px;
}
.input-text::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;

}

.left-section{
  display: flex;
  align-items: center;
}
.middle-section{
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 600px;
}
.right-section{
  width: 280px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.notifications-container {
  position: relative;
}
.notifcations-count {
  background-color: rgb(192, 11, 11);
  color: white;
  position: absolute;
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  top: -3px;
  right: -4px;
  font-size: 12px;
  border: 2px solid white;
}